@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap');

:root {
  --LightCyan: hsl(193, 38%, 86%);
  --NeonGreen: hsl(150, 100%, 66%);
  --GrayishBlue: hsl(217, 19%, 38%);
  --DarkGrayishBlue: hsl(217, 19%, 24%);
  --DarkBlue: hsl(218, 23%, 16%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Manrope', sans-serif;
}

body {
  background: var(--DarkBlue);
  display: grid;
  place-items: center;
  height: 100vh;
  width: 100vw;
}

.container {
  background: var(--DarkGrayishBlue);
  border-radius: 15px;
  display: grid;
  place-items: center;
  height:49vh;
  width: 39vw;
}

h6 {
  font-size: 15px;
  font-weight: 100;
  letter-spacing: 5px;
  margin: 20px 0 0 0;
  color: var(--NeonGreen);
}

p {
  color: var(--LightCyan);
  font-size: 175%;
  padding: 0 7%;
  text-align: center;
}

div button {
  background: var(--NeonGreen);
  border-radius: 50%;
  padding: 18px;
  border-style: none;
  position:absolute;
  top: 71vh;
}
div button:hover{
  box-shadow: 0 0 25px var(--NeonGreen);
}
.mob-divider{
  display: none;
}
  figure img{
    margin: 0 0 37px 0;
  }

/* Mobile View */
@media screen and (min-width:375px) and (max-width:415px) {

body{
  height: 100vh;
    width: 100vw;
}
  .container {
  height:45vh;
  width: 92vw;
  }
  h6 {
  font-size: 11px;}
p{
  font-size: 135%;
  margin-bottom: 3%;
}
div button{
  top: 68vh;
}
  .mob-divider{
    display: block;
  }
  .desk-divider{
    display: none;
  }
}
